*{
  margin:0px;
  padding: 0px;
}
// a {
//   color: black;
// }
header {
  background: url("../img/sec_bg.jpg") no-repeat center top;
  height: 560px;
  width: 100%;
  position: relative;
}

.zixun {
  margin-bottom: 10px;
  background-color: rgba(254,254,254,0.7);
  height: 73px;
  width: 130%;
  text-align: center;
  position: relative;
  top: 42px;
  right: 11px;
  border-radius: 0px 0px 10px 10px;
  display: none;
}
.zixun a {
  display: block;
  text-decoration: none;
  color: black;
  padding-top: 5px;
}
.head_bottom {
  height: 260px;
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
}
.head_bottom img {
  padding-top: 28px;
}
.listmid {
  width: 100%;
  /*min-height: 780px;*/
  margin:0px auto;
  color: #fff;
  background: url("../img/bg.jpg") no-repeat center top;
  height: 1000px;
}
.mid_right {
  width: 1000px;
  margin:0px auto;
  padding-top: 1px;
      min-height: 732px;
  background-color: #0e1113;
}
.nav_title {
  height: 38px;
  margin-left: 12px;
  border-bottom: 1px solid #98ed1e;
}
.big_title {
  font-size: 36px;
  color: #fff;
  padding-top: 36px;
  /*padding-left: 268px;*/
  padding-bottom: 20px;
  width: 801px;
  margin: 0px auto;
}
.right_title {
  list-style: none;
  font-size: 18px;
  width: 50%;
  margin-top: 26px;
  cursor: pointer;
}
.right_title li {
  float: left;
  margin-left: 7%;
  margin-right: 5%;
  padding: 5px;
}
.list_message {
  width: 962px;
  margin: 0 auto;
  padding-left : 8px;
  /*color: #98ed1e;*/
  height: 544px;

}
.dian {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  display: inline-block;
}
.line {
  height: 49px;
  line-height: 49px;
  list-style: none;
}
.line a:hover{
  color: #98ed1e !important;
}


.select {
  color: #98ed1e;
}
.page {
  list-style: none;
  width: 544px;
  margin: 0px auto;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 40px;
}
.page li {
  display: inline-block;
  width: 39px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
}
.footer {
  width: 100%;
  height: 158px;
  background: #1d1e22;
  position: relative;
  z-index: 99;
  text-align:center;
  color: white;
  font-size: 13px;
  padding: 30px 0px 30px 0px;
  // padding-top: 40px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.active a {
  color: #98ed1e!important;
}
.head_bottom{
  top: 66px!important;
}
