* {
  margin:0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
body * { 
  max-height: 999999px;
}
#app {
  width: 100%;
  background:#2e313a;
}
.detail_top {
  background: url('../img/listbg.jpg') no-repeat top center;
  width: 100%;
  height: 470px;
}
.detail_content {
  overflow: hidden;
}
.detail_nav {
  width: 100%;
  margin-top: 10px;
  height: 50px;
}
.first_child {
  color:white;
  font-size: 30px;
  float: left;
  margin-left: 20px;
}
.sec_child {
  color: white;
  font-size: 14px;
  float: right;
  margin-top: 6px;
  margin-right: 20px;
}
.article_title{
  text-align: center;
  font-size: 20px;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.article_time{
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  border-bottom: 1px solid #2e3b27;
  padding-bottom: 15px;
  width: 95%;
  margin: 0px auto;
}
.part {
  width: 94%;
  margin: 0px auto;
  background: #202328;
  margin-top: 2%;
  overflow: hidden;
}
.content {
  color: white;
  width: 95%;
  margin-left: 16px;
  padding-bottom: 25px;
}