<div>
  <div class="footer-bottom">
    <a href="https://tieba.baidu.com/f?kw=%D6%D0%B3%AC%B7%E7%D4%C6%CA%D6%D3%CE "><img src="/m/img/tieba.png" alt=""></a>
    <a href="https://tieba.baidu.com/f?kw=%D6%D0%B3%AC%B7%E7%D4%C6%CA%D6%D3%CE "><img src="/m/img/weibo.png" alt=""></a>
    <img src="/m/img/gzh.png" alt="" @click="openGzh()">
    <img src="/m/img/qqun.png" alt="" @click="openQq()">
  </div>
  <div class="footer-kefu">
    <img src="/m/img/kfphone.png" alt="">
  </div>
  <div class="footer">
    <p>
      温馨提示：抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活
      <br/> 本网站所有游戏仅适合于年满18周岁以上的用户。如果您未满18周岁，不建议您注册并使用本网络游戏服务；
      <br/> 如果您坚持使用，请您务必加入本网络游戏防沉迷系统进行实名注册，同时我们将会按照您法定监护人的需求提供您在本网络游戏中的信息。
      <br/> 您在使用本网络游戏服务之前已经明确知晓网络游戏可能给您带来的一切潜在威胁，包括长时间游戏可能不利于您的身心健康等。为了您的健康请您合理的使用本网络游戏。
    </p>

    <p>京ICP备11034336号-1 |
      <a target="_blank" href="/assets/files/huai_wenwangwen.jpg">
        <font>京网文[2011]0744-272号 |</font>
      </a>
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033250">
        <font><img src="http://www.beian.gov.cn/img/ghs.png">京公网安备 11010502033250号 |</font>
      </a>
      <a target="_blank" href="/assets/files/huai_xukezheng.pdf">
        <font>（总）网出证（京）字第095号 |</font>
      </a>
      <a href="#">
        <font>ICP证书号:京B2-20171148</font>
      </a>
    </p>
    <p>
      <a class="c_white" target="_blank" href="http://www.hulai.com/server">服务协议 |</a>
      <a class="c_white" target="_blank" href="http://www.hulai.com/privacy">隐私权保护声明 |</a>
      <a class="c_white" target="_blank" href="http://www.hulai.com/minors">未成年人家长监护 |</a>
      <a class="c_white" target="_blank" href="http://www.hulai.com/law">法律声明 |</a>
      <a class="c_white" target="_blank" href="http://www.hulai.com/dispute">纠纷、投诉</a>
    </p>
    <p>
      北京市石景山区八大处高科技园区西井路3号3号楼9229房间 010-62662622
    </p>
    <p>
      Copyright © 2015 Hoolai Games. All Rights Reserved | 互爱互动（北京）科技有限公司版权所有
    </p>
  </div>
  <!-- 弹出qq -->
  <div class="cover" v-show="cover" @click="closeAll()">
  </div>
  <div class="qq" v-show="qq">
    <img src="/m/img/qq.png" alt="">
    <span class="footer-text">QQ群号:243796117</span>
  </div>
  <div class="gzh" v-show="gzh">
    <p class="cross" @click="closeAll()"><img src="/m/img/cross.png" alt="" style="width: 65px;"></p>
    <div class="erweima">
      <p class="txt">长按下载二维码到本地 使用微信识别进行关注</p>
      <img src="img/erweima.jpg" alt="">
      <p class="txt">微信公众号：243796117</p>
    </div>
  </div>

</div>
