<div>
  <header>
    <div class="head">
      <a href="javascript:void(0)"><img src="/m/img/logo.png" alt=""></a>
      <a href="https://web.hulai.com/pages/zc2gw/two/245.html?channel=1"><img src="/m/img/download.png" alt=""></a>
      <a href="javascript:void(0)"><img src="/m/img/change.png" alt="" @click="nav = !nav"></a>
    </div>
    <ul class="nav" v-show="nav">
      <a href="index.html">
        <li>官网首页</li>
      </a>
      <a href="news.html?type=zuixin">
        <li>新闻公告</li>
      </a>
      <a href="gameInformation.html?type=zuixin">
        <li>游戏资料</li>
      </a>
    </ul>
  </header>
</div>
